# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
fastenv/
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Database (if local)
*.sqlite3

# Alembic cache
alembic/__pycache__/

# Temp files
*.tmp
*.swp